*{

    color: #5F0F40;
    max-width: 100%;
    font-family: montserrat;
    }
    body{
        color: #5F0F40;
    }
.navbar{
    background-color: 
    #D9D9D9;
    color: #5F0F40;
}
a.nav-link.px-5{
    color: #5F0F40;
}
a.nav-link.dropdown-toggle{
    color: #5F0F40;
}
    .nav-link{
        color: 
        #5F0F40;
        font-weight: 400;
        font-size: 24px;
    
    }
    .nav-link:hover{
        color: #5F0F40;
    }
    .nav-item{
        color: #5F0F40;
    }
    .container-1{
        background-color: #5F0F40;
        text-align: center;
        margin: 0 auto;
    }
    li{
        list-style-type: none;
    }
    .dropdown-item{
        color: #5F0F40;
    }


    .container3
    {
  
    background: #5F0F40;
    }
    figcaption>p{
        color: white;
        text-align: center;

    }